<template>
  <main id="app">
    <NavSteps></NavSteps>
    <article class="container">
      <router-view/>
    </article>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import NavSteps from '@/components/NavSteps.vue';

@Component({
  components: {
    NavSteps,
  },
})
export default class App extends Vue {}
</script>

<style lang="scss">
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

#app {
  color: #2c3e50;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
  //   0 3px 1px -2px rgba(0,0,0,.2), 
  //   0 1px 5px 0 rgba(0,0,0,.12),
  //   10px 40px 90px 10px rgba(0,0,0,.5);
}

h1, h2 {
  margin-bottom: 1em
}

article {
  padding: 0 1em 1em;
}

img {
  max-width: 100%;
}

form {
  margin: 0 auto;

  legend {
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  button {
    border: none;
    border-radius: 3px;
    background-color: skyblue;
    color: white;
    display: block;
    font-size: 1.4em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;

    &[disabled="disabled"] {
      background-color: silver;
      color: #999;
    }
  }

  label {
    display: block;
    cursor: pointer;
    padding-left: 4px;
    margin-bottom: 1em;
  }

  label input {
    float: left;
    margin-right: 1em;
    transform: scale(1.5);
    transform-origin: top;
  }
}

aside {
  background-color: #fff3ad;
  border-radius: 3px;
  cursor: pointer;
  font-size: .9em;
  margin-bottom: 1em;
  min-height: 86px;
  padding: 1em;
  opacity: 0;
  transform: translateY(-105px);
  transition: opacity, transform 1s ease-out;
  pointer-events: none;

  @media(min-width: 400px) {
    font-size: .9em;
  }
  
  &:before {
    content: '\26A0';
    font-size: 5em;
    float:left;
    line-height: 1em;
    padding-right: 1rem;
  }

  &.slideDown {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.upper,
.fuxico {
  text-transform: uppercase;
}

.button {
  border-radius: 3px;
  background-color: skyblue;
  color: white;
  display: block;
  font-size: 1.4em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

</style>
